.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.app {
  display: block;
  max-width: 1200px;
  min-height: 100vh;
  margin: 20px auto;
}

.header {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #000;
}

.content {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.column {
  flex-direction: column;
  align-items: center;
  width: 24%;
  padding: 10px;
  font-size: 14px;
}

.form {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 220px;
  margin-top: 10px;
  font-size: 14px;
}

.search {
  min-height: 20px;
  margin: 10px 0;
  padding: 10px;
}

.hero {
  justify-content: space-between;
  min-height: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.hero:last-child {
  margin-bottom: 0;
}

.stats {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.squad {
  position: relative;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
}

.squad:nth-child(2) {
  margin-top: 10px;
}

.squad:last-child {
  margin-bottom: 0;
}

.info {
  width: 50%;
  padding-top: 15px;
  flex-direction: column;
  align-items: center;
}

.info .content {
  justify-content: flex-start;
}

.info .header {
  border-bottom: none;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
